*{
  margin: 0;
}

body{
  margin:0;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smooting:grayscale;
  font-family: 'poppins';
}

code{
  font-family: source-code-pro,Menlo,Monace,Consolas,'courier New',monospace;
}